
<!doctype html>
<html lang="en">
<head>
    <script src = 'js/app.js' defer></script>
    <link rel = 'stylesheet' href = 'css/style.css' >
</head>
<body>
    <div class="container">
        {{>header}}
        <div class = 'about'>
            <img src="/img/me.jpg">
            <div class='describe'>
                <h3>John Batino</h3>
                <cite>age 27</cite><br>
                <cite>Mean stack Developer</cite>
            </p>
        </div>
    </div>  
</body>
</html>